<?xml version="1.0" encoding="Windows-1252" ?>
<NotepadPlus>
    <FindHistory nbMaxFindHistoryPath="10" nbMaxFindHistoryFilter="10" nbMaxFindHistoryFind="10" nbMaxFindHistoryReplace="10" matchWord="yes" matchCase="yes" wrap="yes" directionDown="yes" fifRecuisive="yes" fifInHiddenFolder="no" dlgAlwaysVisible="no" fifFilterFollowsDoc="no" fifFolderFollowsDoc="no" searchMode="0" transparencyMode="1" transparency="150" dotMatchesNewline="no">
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Find name="![tu](" />
        <Find name="![](" />
        <Find name="google_analytics" />
        <Find name="mybatis:" />
        <Find name="ASSET_URL" />
        <Find name='&lt;div class=&quot;hljs-button signin&quot; data-title=&quot;&#x767B;&#x5F55;&#x540E;&#x590D;&#x5236;&quot;&gt;&lt;/div&gt;&lt;/code&gt;&lt;ul class=&quot;pre-numbering&quot; style=&quot;&quot;&gt;&lt;li style=&quot;color: rgb(153, 153, 153);&quot;&gt;1&lt;/li&gt;&lt;/ul&gt;&lt;/pre&gt;' />
        <Find name='$ hexo new draft &quot;new draft&quot;' />
        <Find name="hexo list page" />
        <Find name="hexo render path1/xxx.md -o path2/xxx.yyy" />
        <Find name="Hexo&#x8D77;&#x670D;&#x52A1;" />
        <Replace name="![&#x56FE;&#x4E0D;&#x89C1;&#x4E86;](/ctor/189804ca/" />
        <Replace name="![&#x56FE;&#x4E0D;&#x89C1;&#x4E86;](/ctor/23616e9c/" />
        <Replace name="![&#x56FE;&#x4E0D;&#x89C1;&#x4E86;](/ctor/2a535c51/" />
        <Replace name="![tu](/ctor/f3e15bcc/" />
        <Replace name="www.csdn.nt" />
        <Replace name="," />
        <Replace name="a23" />
        <Replace name="a22" />
        <Replace name="a21" />
        <Replace name="a20" />
    </FindHistory>
    <History nbMaxFile="10" inSubMenu="no" customLength="-1">
        <File filename="G:\f\source\_posts\z\&#x5600;&#x55D2;.md" />
        <File filename="G:\f\source\_posts\windows\windows10.md" />
        <File filename="G:\f\source\_posts\hexo\&#x7BA1;&#x7406;&#x591A;&#x4E2A;&#x535A;&#x5BA2;.md" />
        <File filename="G:\f\source\_posts\hexo\&#x5B89;&#x88C5;&#x535A;&#x5BA2;.md" />
        <File filename="G:\f\source\_posts\hexo\Hexo&#x7684;Next&#x4E3B;&#x9898;&#x8BE6;&#x7EC6;&#x914D;&#x7F6E;.md" />
        <File filename="G:\f\source\_posts\hexo\Hexo&#x535A;&#x5BA2;&#x4F7F;&#x7528;bat&#x811A;&#x672C;&#x81EA;&#x52A8;&#x521B;&#x5EFA;&#x548C;&#x514D;&#x5BC6;&#x7801;&#x90E8;&#x7F72;.md" />
        <File filename="G:\f\source\_posts\a\ZNL.md" />
        <File filename="G:\f\source\_posts\a\256.htm" />
        <File filename="G:\f\source\_posts\a\L.md" />
        <File filename="G:\f\source\_posts\&#x751F;&#x6D3B;\&#x6D53;&#x7F29;&#x4E09;&#x53E5;&#x8BDD;.md" />
    </History>
    <GUIConfigs>
        <GUIConfig name="ToolBar" visible="yes">standard</GUIConfig>
        <GUIConfig name="StatusBar">show</GUIConfig>
        <GUIConfig name="TabBar" dragAndDrop="yes" drawTopBar="yes" drawInactiveTab="yes" reduce="yes" closeButton="yes" doubleClick2Close="no" vertical="no" multiLine="yes" hide="no" quitOnEmpty="no" />
        <GUIConfig name="ScintillaViewsSplitter">vertical</GUIConfig>
        <GUIConfig name="UserDefineDlg" position="undocked">hide</GUIConfig>
        <GUIConfig name="TabSetting" replaceBySpace="no" size="4" />
        <GUIConfig name="AppPosition" x="264" y="511" width="1269" height="427" isMaximized="no" />
        <GUIConfig name="noUpdate" intervalDays="15" nextUpdateDate="20080426">no</GUIConfig>
        <GUIConfig name="Auto-detection">yes</GUIConfig>
        <GUIConfig name="CheckHistoryFiles">no</GUIConfig>
        <GUIConfig name="TrayIcon">no</GUIConfig>
        <GUIConfig name="MaitainIndent">yes</GUIConfig>
        <GUIConfig name="TagsMatchHighLight" TagAttrHighLight="yes" HighLightNonHtmlZone="no">yes</GUIConfig>
        <GUIConfig name="RememberLastSession">yes</GUIConfig>
        <GUIConfig name="DetectEncoding">yes</GUIConfig>
        <GUIConfig name="NewDocDefaultSettings" format="0" encoding="4" lang="0" codepage="-1" openAnsiAsUTF8="yes" />
        <GUIConfig name="langsExcluded" gr0="0" gr1="0" gr2="0" gr3="0" gr4="0" gr5="0" gr6="0" gr7="0" gr8="0" gr9="0" gr10="0" gr11="0" gr12="0" langMenuCompact="yes" />
        <GUIConfig name="Print" lineNumber="yes" printOption="3" headerLeft="" headerMiddle="" headerRight="" footerLeft="" footerMiddle="" footerRight="" headerFontName="" headerFontStyle="0" headerFontSize="0" footerFontName="" footerFontStyle="0" footerFontSize="0" margeLeft="0" margeRight="0" margeTop="0" margeBottom="0" />
        <GUIConfig name="Backup" action="0" useCustumDir="no" dir="" isSnapshotMode="yes" snapshotBackupTiming="7000" />
        <GUIConfig name="TaskList">yes</GUIConfig>
        <GUIConfig name="MRU">yes</GUIConfig>
        <GUIConfig name="URL">2</GUIConfig>
        <GUIConfig name="globalOverride" fg="no" bg="no" font="no" fontSize="yes" bold="no" italic="no" underline="no" />
        <GUIConfig name="auto-completion" autoCAction="3" triggerFromNbChar="1" autoCIgnoreNumbers="yes" funcParams="yes" />
        <GUIConfig name="auto-insert" parentheses="yes" brackets="yes" curlyBrackets="yes" quotes="no" doubleQuotes="no" htmlXmlTag="no" />
        <GUIConfig name="sessionExt"></GUIConfig>
        <GUIConfig name="workspaceExt"></GUIConfig>
        <GUIConfig name="MenuBar">show</GUIConfig>
        <GUIConfig name="Caret" width="1" blinkRate="600" />
        <GUIConfig name="ScintillaGlobalSettings" enableMultiSelection="no" />
        <GUIConfig name="openSaveDir" value="0" defaultDirPath="" />
        <GUIConfig name="titleBar" short="no" />
        <GUIConfig name="stylerTheme" path="E:\Program Files\notepad++\themes\Black board.xml" />
        <GUIConfig name="wordCharList" useDefault="yes" charsAdded="" />
        <GUIConfig name="delimiterSelection" leftmostDelimiter="40" rightmostDelimiter="41" delimiterSelectionOnEntireDocument="no" />
        <GUIConfig name="multiInst" setting="0" />
        <GUIConfig name="MISC" fileSwitcherWithoutExtColumn="no" backSlashIsEscapeCharacterForSql="yes" newStyleSaveDlg="no" isFolderDroppedOpenFiles="no" docPeekOnTab="no" docPeekOnMap="no" />
        <GUIConfig name="searchEngine" searchEngineChoice="2" searchEngineCustom="" />
        <GUIConfig name="SmartHighLight" matchCase="yes" wholeWordOnly="yes" useFindSettings="no" onAnotherView="no">yes</GUIConfig>
        <GUIConfig name="ScintillaPrimaryView" lineNumberMargin="show" bookMarkMargin="show" indentGuideLine="hide" folderMarkStyle="box" lineWrapMethod="aligned" currentLineHilitingShow="show" scrollBeyondLastLine="no" disableAdvancedScrolling="no" wrapSymbolShow="show" Wrap="yes" borderEdge="yes" edge="no" edgeNbColumn="80" zoom="-1" zoom2="0" whiteSpaceShow="hide" eolShow="hide" borderWidth="2" smoothFont="no" />
        <GUIConfig name="DockingManager" leftWidth="261" rightWidth="200" topHeight="200" bottomHeight="200">
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44085" curr="0" prev="-1" isVisible="yes" />
            <PluginDlg pluginName="dummy" id="0" curr="3" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44080" curr="1" prev="-1" isVisible="no" />
            <ActiveTabs cont="0" activeTab="0" />
            <ActiveTabs cont="1" activeTab="-1" />
            <ActiveTabs cont="2" activeTab="-1" />
            <ActiveTabs cont="3" activeTab="-1" />
        </GUIConfig>
    </GUIConfigs>
    <ProjectPanels>
        <ProjectPanel id="0" workSpaceFile="" />
        <ProjectPanel id="1" workSpaceFile="" />
        <ProjectPanel id="2" workSpaceFile="" />
    </ProjectPanels>
    <FileBrowser latestSelectedItem="F:\d\source\_posts">
        <root foldername="G:\f\source\_posts" />
        <root foldername="F:\d\source\_posts" />
    </FileBrowser>
</NotepadPlus>
